#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
    /* 半透明磨砂玻璃質感 */
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    transition: transform 0.4s ease-in-out;
}

/* 預設隱藏 */
.hidden-nav {
    transform: translateY(-100%);
}

/* 顯示 */
.visible-nav {
    transform: translateY(0);
}

/* .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.nav-container {
    width: 100%; 

    padding: 1rem clamp(0.1rem, 12vw - 1.5rem, 10rem); 

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-sizing: border-box; 
}
.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #6500ff, #ff00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #fff;
}