#hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    background-color: #000000;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    will-change: opacity;
}

.fullscreen-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 80%;
    height: auto;
    
    object-fit: cover;

}

#hero-static-image { z-index: 1; }
#hero-video { z-index: 2; }



.hero-content-overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.hero-content-overlay.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.hero-content-overlay.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.motto {
    position: relative;
    z-index: 10;

    font-weight: 700;
    
    color: #444444; 
    
    text-align: center;
    
    letter-spacing: 0.1em;
    
    margin-left: auto;
    margin-right: auto;
}

/* @supports (height: 100dvh) {
    #hero { height: 100dvh; }
} */



/* 圖片與影片 */
.fullscreen-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: min(90%, 700px); 
    
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.motto {
    margin-top: clamp(40px, 14vw, 110px);

    font-size: clamp(1.2rem, 4vw, 3rem);
}