#hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    background-color: #000000;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    will-change: opacity;
}

.fullscreen-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 80%;
    height: auto;
    
    object-fit: cover;

}

#hero-static-image { z-index: 1; }
#hero-video { z-index: 2; }



.hero-content-overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.hero-content-overlay.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.hero-content-overlay.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@supports (height: 100dvh) {
    #hero { height: 100dvh; }
}

@media (max-width: 1068px) {
    .fullscreen-media {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 734px) {
    .fullscreen-media {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .fullscreen-media {
        width: 120%;
        height: auto;
    }
}
