.wrapper {
    position: relative;
    z-index: 10;

    margin-top: 100vh; 
    min-height: 100vh;
    box-sizing: border-box;

    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */

    /* background-color: #080808;  */

    background-image: 
        url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1' cy='1' r='1' fill='rgba(255, 255, 255, 0.08)'/%3E%3C/svg%3E"),
        linear-gradient(to bottom, 
            rgba(16, 16, 16, 1) 0%,
            rgba(8, 8, 8, 1) 400px, 
            #080808 100%             
        );

    /* 設定背景大小 (SVG 24px, 漸層全螢幕) */
    background-size: 24px 24px, 100% 100%; 
    
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    --pad-v: clamp(3em, 15vh, 8em);
    --pad-h: clamp(0.1rem, 12vw - 1.5rem, 10rem);

    background-position: var(--pad-h) var(--pad-v), 0 0;
    
    /* (開啟 GPU 加速) */
    will-change: transform; 
    
    
    contain: layout style; 
    overflow: visible;
}