.wrapper {
    position: relative;
    z-index: 10;

    margin-top: 100vh; 
    min-height: 100vh;
    box-sizing: border-box;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* background-color: #080808; */

    background-image: 
        radial-gradient(circle, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
        linear-gradient(to bottom, 
            rgba(8, 8, 8, 0.4) 0%,
            rgba(8, 8, 8, 1) 400px, 
            #080808 100%             
        );

    background-size: 24px 24px, 100% 100%; 
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    --pad-v: clamp(3em, 15vh, 8em);
    --pad-h: clamp(0.1rem, 12vw - 1.5rem, 10rem);

    background-position: var(--pad-h) var(--pad-v), 0 0;

    contain: layout style; 
    
    overflow: visible;
}

